.splash {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  height: 35px;
  padding: 5px;
  align-items: center;
}

.name {
  color: black;
  font-style: bold;
  font-weight: 1500;
  font-size: 30px;
}

.footer {
  background-color: lightgrey;
  padding: 5px;
  height: 35px;
}

.footer a {
  align-items: center;
    text-decoration: none;
    font-weight: 600;
    top: 25%;
    position: relative;
    height: 30px;
    padding: 15px;
}

.info {
  position: absolute;
  top: 50%;
  left: 20%;
  color: white;
  text-shadow: 5px black;
  font-weight: 1000;
  font-size: 40px;
  /* text-align: center; */
  text-shadow: 5px 5px black;
}

.nav a {
  align-items: center;
  padding: 10px;
  text-decoration: none;
  background-color: lightgrey;
  /* border: 1px solid black; */
  font-weight: 600
}

a:hover {
  background-color: darkgrey;
  color: white;
}

.image {
  display:
}

.logo {
  height: 30px;
  width: 30px
}


.indexfooter {
  background-color: lightgrey;
  padding: 5px;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.indexfooter a {
  align-items: center;
    text-decoration: none;
    font-weight: 600;
    top: 25%;
    height: 30px;
    padding: 15px;
}

.create {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #F2F3F4;
  padding: 5px;
  border: 2px solid black;
  top: 20px;
}



.index h2, h1 {
  background-color: #7F8C8D;
  color: white;
  margin: 0px;
  padding: 7px;
}

.list {
  font-weight: 700;
  font-size: 3  0px;
}

.hide {
  display: none;
}

.index ul {
  background-color: #E5E8E8;
  padding: 5px;
  margin: 0px;
}

.index ul > li {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  padding: 5px;
  padding-left: 15px;
}

.navs {
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  height: 35px;
  padding: 5px;
  align-items: center;
  width: 100%;
}

.text {
  padding: 2px;
}
