/* PHASE 4: Footer */

.footer {
background-color: white;
width: 880px;
margin: auto;
color: gray;
padding: 10px;
height: 20px;
border-color: gray;
border-width: 1px;
border-style: solid;
margin-bottom: 10px
}

.footer-copy {
float: left;
}

.footer-links {
float: right;
}

.footer-links > li {
float: left;
}

.footer a {
margin-left: 15px
}

.footer a:hover {
color: black
}
